:root {
    --collection-1-color: rgba(227, 23, 23, 1);
    --top-notice-font-family: "Inter-Regular", Helvetica;
    --top-notice-font-size: 12px;
    --top-notice-font-style: normal;
    --top-notice-font-weight: 400;
    --top-notice-letter-spacing: 0px;
    --top-notice-line-height: normal;
  }
  